body{
  margin: 0;
}
.conteiner{
  min-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit{
  display: none;
}

.calk_box{
  display: flex;
  align-items: center;
}
input{
  margin-left: 5px;
  width: 15px;
  margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

p{
  margin-left: 5px;
}